body {
  background-color: #2d3436;
}

body > * {
  background-color: #636e72;
}

header {
  border-radius: 10px;
  border: none;
  text-align: center;
  margin-bottom: 20px;
  height: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 50px;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 350px 1fr;
  border: 1px dashed blue;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;

}

img#thumb {
  width: 100%;
  border-radius: 10px;
}