input {
    display: block;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div#character-form {
    border: 1px solid blue;
    display: inline-block;
    width: 550px;
    height: 95vh;
    justify-self: center;
}

div#image-section {
    border: 1px solid red;
    display: inline-block;
}

input#input-history {
    width: 95%;
    height: 200
}
